aws-resources/stepFunction.json
{
  "StartAt": "InvokeLambdaState",
  "States": {
    "InvokeLambdaState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:182962509948:function:product-lambda:$LATEST",
      "Parameters": {
        "target_value": 100
      },
      "Next": "CheckStatusFromLambda"
    },
    "CheckStatusFromLambda": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusCode",
          "NumericEquals": 200,
          "Next": "SuccessState"
        },
        {
          "Variable": "$.statusCode",
          "NumericEquals": 400,
          "Next": "FailedState"
        }
      ]
    },
    "SuccessState": {
      "Type": "Pass",
      "End": true
    },
    "FailedState": {
      "Type": "Fail"
    }
  }
}
